<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
<!-- contains all the properties of the bot, one stop shop to change all dimentions  -->

    <xacro:property name="chassis_length" value="0.500"/>
    <xacro:property name="chassis_width" value="0.600"/>
    <xacro:property name="chassis_height" value="0.200"/>

    <xacro:property name="chassis_mass" value="1.0"/>

    <xacro:property name="wheel_radius" value="0.075"/>
    <xacro:property name="wheel_thickness" value="0.026"/>
    <xacro:property name="wheel_mass" value="0.05"/>

    <xacro:property name="wheel_offset_x" value="0.250"/>
    <xacro:property name="wheel_offset_y" value="0.300"/>
    <xacro:property name="wheel_offset_z" value="0"/>

    <xacro:property name="caster_wheel_radius" value="0.0375"/>
    <xacro:property name="caster_wheel_mass" value="0.01"/>

    <xacro:property name="caster_wheel_offset_x" value="0.200"/>
    <xacro:property name="caster_wheel_offset_y" value="0.250"/>
    <xacro:property name="caster_wheel_offset_z" value="0.037"/>

</robot>